@charset "utf-8";

#wrap {
        margin:0 auto;
        width:1200px;
}

header {
        height:100px;
        
}
.logo {
        float:left;
        margin-top:20px;
        background-color: darkslategray;
}
.logo>a{
        
}
.logo>a>img {

}

nav {float:right;}

.gnb {}
.gnb>li {
        position: relative;
        width:200px;
        float:left;
        height:70px;
        line-height: 70px;
        text-align: center;
        background-color: darkslategray;
        margin-top:30px;
}
.gnb>li:hover {
                background-color: darksalmon;
}
.gnb>li>a {
            color:#fff;
}

.subMenu {
        position:absolute;
        display: none;
        z-index: 10;
}
.subMenu>li {
            width:200px;
            float:left;
            height:70px;
            line-height: 70px;
            text-align: center;
            background-color: darkslategray;
}
.subMenu>li:hover {
                background-color: rgb(226, 174, 157);
}
.subMenu>li>a {color:#fff;}


#slider {
        width:1200px;
        height:300px;
        position:relative;
        overflow: hidden;
        padding-top: 0;
        margin: 0 auto;
}
.slide {
        width:1200px;
        position: absolute;
        top:0;
        left:0;
        animation: move .5s ease infinite;
        transform: translateX(0);
}
.slide>li {
            width:1200px;
            height:300px;
            
}
.slide>li>a {}
.slide>li>a>img {
                width:100%;
}



#contents { 
            height:200px;
           
}
section {
        float:left;
        width:400px;
        box-sizing: border-box;
}

.tab {
}
.tabMenu {
            height:40px;
            overflow: hidden; 
            line-height: 40px;
        }
.tabMenu>a {
            float:left;
            width:80px;
            background-color: darkslategray;
            color:#fff;
            line-height: 40px;
            text-align: center;
            font-size: 18px;
            font-weight: normal;  
}

.tabMenu>a.on {
                background-color: salmon;
                color:fff;
}

.tabContent {
 
}
.notice {
            height:160px;
            padding:0 10px;
}
.notice>li {
            line-height: 2.5;
            
}
.notice>li:nth-of-type(2n) {background-color: salmon;
                            }
.notice>li:nth-of-type(2n)>a {color:#fff;
                            }
.notice>li:nth-of-type(2n)>span {color:#fff;
                            }
.notice>li>a {color:#333;}
.notice>li>span {
                    float:right;
}

.gallery {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:0 10px;
}
.gallery>li>a>img {width:110%;}



.banner {}
.imgbox {
}
.imgbox>a {padding:20px;}
.imgbox>a>img {
                width:400px;
                overflow: hidden;}



footer {
        height:100px;
}

.popup {

}